<div id="footer">
    <p>&copy;{{ 'now'|date('Y')}} All Rights Reserved &nbsp;&bull;&nbsp; Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">Free CSS Templates</a> &nbsp;&bull;&nbsp; Icons by <a href="http://www.famfamfam.com/" rel="nofollow">FAMFAMFAM</a>.</p>
</div>
{{ wp_call_func('wp_footer') }}
</body>
</html>